.header-container{
    background-color: white;
    height: auto;
}
.header-logo{
    height: 55px;
    
}

.header-menu-button{
    border: none;
}
/* 当屏幕分辨率小于620px时，隐藏导航菜单 */
/* 可以利用这种自适应布局显示在另一个折叠菜单来替换原有菜单 */
@media only screen and (max-width: 768px){
    .header-menu{
        display: none;
    } 
}